{{- define "main" }}

<article class="post-single">
  <header class="post-header">
  {{ if and (not .IsHome) (site.Params.breadcrumbs) }}
    {{ partial "breadcrumbs.html" . }}
  {{ end }}
    <h1 class="post-title entry-hint-parent">
	Site Navigation
    </h1>
  </header>
  <div>
    <ul>
      {{ range .Site.Sections }}
          <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
	  <hr>
          {{ if .Pages }}
            <ul>
              {{ range .Pages }}
                <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
              {{ end }}
            </ul>
          {{ end }}
	  <br>
      {{ end }}
    </ul>
  </div>

  <footer class="post-footer">
    {{- $tags := .Language.Params.Taxonomies.tag | default "tags" }}
    <ul class="post-tags">
      {{- range ($.GetTerms $tags) }}
      <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
      {{- end }}
    </ul>
    {{- if (.Param "ShowPostNavLinks") }}
    {{- partial "post_nav_links.html" . }}
    {{- end }}
    {{- if (and site.Params.ShowShareButtons (ne .Params.disableShare true)) }}
    {{- partial "share_icons.html" . -}}
    {{- end }}
  </footer>

  {{- if (.Param "comments") }}
  {{- partial "comments.html" . }}
  {{- end }}
</article>

{{- end }}{{/* end main */}}
